*{
    scroll-behavior: smooth;
}
.header{
    width: 100%;
    cursor: pointer;
    position: fixed;
    display: flex;
   justify-content: center;
   text-transform: uppercase;
   background-color: #161718;
   color: red;
   font-size: 3.8vw;
   font-weight: lighter;
   padding-bottom: 15px ;
   box-shadow: 0px 1px 5px black;
   z-index: 100;
   font-family: 'Montserrat', sans-serif;
}
.lgo{
    height: 90px;
    width: 180px;
    opacity: 0.8;
    padding-left: 30px;
}

@media (max-width : 1000px){
    .header{
        padding-top: 15px;
        font-size: 5vw;
        
    }
}